.navbarnavbar-darkinfo-color {
    background-color: #ffffff;
    width: 100%;
    height: 70px;
    margin: 0;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    position: fixed;
    clear: both;
    top: 0; 
    box-sizing: border-box;
}

.navbar-brand {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    padding: 20px;
    float: left;
    position: fixed;
    height: 70px;
    margin-top: 0;
    margin-bottom: 0;
    top: 0;
    margin-left: 30px;
    margin: 0 auto;
    width: 240px;
    text-align: center;
    text-size-adjust: medium;
}

* {
    box-sizing: border-box;
}

.paragraphs {
    width: 100%;
}

body {
    background: url("../images/Background_Image.png");
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 960px;
}

.containerlogo {
    background-color: #ffffff;
    padding: 20px;
    width: 100%;
    height: 70px;
    margin: 0;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    position: fixed;
    clear: both;
    top: 0;
    width: 960px;
}

.wrapper {
    margin: 0 auto;
}

h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    padding: 20px;
    float: left;
    position: fixed;
    height: 70px;
    margin-top: 0;
    margin-bottom: 0;
    top: 0;
    margin-left: 30px;
    margin: 0 auto;
}

.links {
    list-style: none;
    font-size: 15px;
    float: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    margin-right: 30px;
    text-decoration: none;
    color: #777777;
    width: 960px;
}

.content {
    background-color: #ffffff;
    width: 960px;
    align-content: center;
    content: #ffffff;
    margin-bottom: 500px;
    margin-top: 100px;
    padding: 20px;
    float: center;
}

h2 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

img {
    float: left;
    padding: 20px;
}

p {
    float: inline-start;
    padding: 20px;
    color: #777777;
}

html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }
  

.content {
    background-color: #ffffff;
    width: 960px;
    box-sizing: border-box;
    align-content: center;
    content: #ffffff;
    margin-bottom: 700px;
    margin-top: 100px;
    padding: 20px;
    float: center;
    border-color: #dddddd;
    margin-left: 10%;
    margin-right: 10%;
}

.box {
    width: 960px;
    background-color: #ffffff;
    content: 500px;
    align-content: center;
    content: #ffffff;
    margin-bottom: 700px;
    margin-top: 100px;
    padding: 20px;
    float: center;
    margin: 0 auto;
    border-color: #dddddd;
}

br {
    color: #777777;
}

input {
    width: 100%;
    color: #777777;
}

textarea {
    width: 100%;
    border-color: #777777;
    color: #777777;
}

.submit {
    color: #4aaaa5;
    padding: 20px;
    border: none;
    cursor: pointer;
    height: 20px;
    width: 100px;
    text-size-adjust: large;
    background-color: #4aaaa5;
    background: 20px;
 }

 .images {
    position: relative;
    max-width: 200px;
    margin: 0 auto;
  }
  
  .clear .images {
    position: absolute;
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1; 
    width: 100px; 
    padding: 20px;
  }

  .wrap {
      width: 960px;
      float: center;
      position: fixed;
  }

  .textbox .column {
    position: absolute;
    bottom: 20px;
    place-content: center;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    width: 250px;
    height: 200px;

  }

  